<div class="login-body">
    <div class="body-container">
        <div class="ui-g">
            <div class="ui-g-12 ui-lg-6 left-side">
                <img src="../assets/layout/images/logo-dark.png" alt="apollo-layout" class="logo" />
                <h1>Bienvenido</h1>
                <p>
                    Ingresa tus datos para iniciar sesión
                </p>
            </div>
            <div class="ui-g-12 ui-lg-6 right-side">
                <div class="login-wrapper">
                    <div class="login-container">
                        <span class="title">Ingreso</span>

                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12">
                                <input type="text" autocomplete="off" placeholder="Username" class="ui-inputtext ui-widget" />
                            </div>
                            <div class="ui-g-12">
                                <input type="password" autocomplete="off" placeholder="Password" class="ui-inputtext ui-widget"
                                    feedback="false" />
                            </div>
                            <div class="ui-g-6">
                                <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only blue-btn">
                                    <span class="ui-button-text ui-c">
                                        <img src="../assets/layout/images/check.svg" alt="login" style="height: 13px;width: 16px;float: left;margin-top: 3px">
                                        Ingresar
                                    </span>
                                </button>
                            </div>
                            <div class="ui-g-6 password-container">
                                <a href="#">Olvidaste tu contraseña?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>